@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  transition: all 1s ease-in-out;
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.25;

  padding: 0;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;

  background: url("https://images.unsplash.com/photo-1575908524891-b0bdd2b99f90?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80")
    no-repeat center center fixed;
  background-size: cover;
  backdrop-filter: blur(var(--blur));
  -webkit-backdrop-filter: blur(var(--blur));
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.2;
}

a {
  color: var(--col9);
  text-decoration: none;
}

@media (min-width: 500px) {
  p {
    max-width: 80vw;
  }
}

section {
  margin: 0 !important;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  &.hero {
    display: flex;
    flex-direction: column;
    padding-top: 8rem;
    justify-content: flex-start;
    align-items: center;
    color: var(--col9);

    h1 {
      font-size: 5rem;
      text-align: center;
      margin: 0;
    }
    h3 {
      font-size: 1.5rem;
      text-align: center;
      margin: 0;
    }
  }
}

::-webkit-scrollbar-track {
  background: var(--col1);
}

::-webkit-scrollbar-thumb {
  background: var(--col2);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--col3);
}
article {
  background-color: #65a4b33a;
  border: 1px solid #f8f8fff2;
  border-radius: 15px;
  padding: 1rem;

  a {
    font-style: italic;
    transition: all 1s ease-in-out;

    &:hover {
      text-decoration: underline;
    }
  }
}

nav {
  padding: 1rem;
  border-radius: 15px;
  display: flex;
  gap: 1rem;
}

section#projects div {
  display: grid;
  grid-template-columns: repeat(2, minmax(500px, 1fr));
  gap: 1rem;
}
