@use "_breakpoints";
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin:0;

    ::-webkit-scrollbar {
        
    }

    background-color: #040406;
    color: #f8f8ff;
    font-family: 'Urbanist', sans-serif;

    .container {
        
        
        section {
            scroll-snap-align: start;
            width:100vw;
            height:100vh;

            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;

            div.welcome {
                h1 {
                    font-size: min(32vw, 32rem);
                    margin-top: 0;
                    font-weight: 400;
                }
                h3 {
                    color: #f8f8ff;
                    font-size: 1.5rem;
                    margin-bottom: 1.5rem; 
                    font-weight: normal;
                }
            }
            div { /* Global */
                @include breakpoints.media(">phone") { /* big */
                    width: 50vw;
                } @include breakpoints.media("<=phone") {
                    width:70vw;
                }
                height: fit-content;
            }
            div#about {
                gap:50px;
                display: flex;
                @include breakpoints.media("<=phone") {
                    flex-direction: column;
                }

                padding: 25px;
                background-color: #0b0b13;
                box-shadow: 0px 0px 50px#4343F5;
                border-radius: 25px;
                text-align: justify;

                img {
                    @include breakpoints.media("<=phone") {
                    max-width: 200px;
                } @include breakpoints.media(">phone") {
                    max-width: 50%;
                }
                    object-fit: contain;
                }
            }

            div#projects {

                padding: 25px;
                background-color: #0b0b13;
                box-shadow: 0px 0px 50px#c5429e;
                border-radius: 25px;

                h1 {
                    margin-bottom: 0;
                }

                ul {
                    margin-top: 0;
                }
            }
        }
    }
} 