@use "_breakpoints.scss";

html {
    --bgColorMenu : #06060a;
    --duration: .7s;    
}

html *, html *::before, html *::after {
    box-sizing: inherit;
}
@keyframes stroke {

    0% {
        stroke-dashoffset: 400;
    }

    100% {
        stroke-dashoffset: 0;
    }

}


@keyframes nav-expand{
    0% {
        height: 260px;
        width: 20px;
    }

    100% {
        height: 280px;
        width: 64px;
    }
}
nav{
    position: fixed;
    margin: 0;
    font-size: 1.5em;
    display: flex;
    z-index: 69000;

    @include breakpoints.media(">phone") {/* biga than fon */
        flex-direction: column;
        top: calc(50% - 140px);
        height: 320px;
        width: 30px;
        justify-content: center;
    } 
    
    @include breakpoints.media("<=phone") { /* fon */ 
        bottom:5px;
        left:calc((100vw - 85vw) / 2);
        flex-direction: row;
        height: 65px;
        width: 85vw;
        justify-content: space-around;
    }
    
    align-items: center;
    background-color: #0b0b13;
    box-shadow: 0 0 #000;
    border-radius: 20px;
    transition: .2s ease-out;

    
    
        @include breakpoints.media(">phone") {
            width:65px;
        }
        button {
            
            &.active {
                @include breakpoints.media(">phone") {
                    transform: translateX(15px);
                } @include breakpoints.media("<=phone") {
                    transform: translateY(-15px);
                }
               padding:15px;
            }
            @include breakpoints.media(">phone") {
                svg {
                    display: initial;
                    
                }
            }
        }
    }

    
    
    button {
        all: unset;
        z-index: 100;
        display: flex;
        cursor: pointer;
        position: relative;
        border-radius: 50%;
        align-items: center;
        will-change: transform;
        justify-content: center;
        background-color: #0b0b13;
        padding-top:15px;
        padding-bottom:15px;

        transition: transform var(--timeOut , var(--duration));

        &:active#men {
            gay:true;
        }
        &.active {
            background-color: var(--bgColorItem);
            animation: stroke 5s;
            
            
        }
    }




.icon {
    width: 1.5em;
    height: 1.5em;
    stroke: #fff;
    fill: transparent;
    stroke-width: 1pt;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 8000;
    
}






.svg-container {

    width: 0;
    height: 0;
}


@media screen and (max-width: 50em) {
    .menu {
        font-size: .8em;
    }
}