$green: rgb(42, 252, 152);
$blue: rgb(41, 121, 255);

@keyframes float {
  from,
  to {
    transform: translateY(-0%);
  }

  50% {
    transform: translateY(-5%);
  }
}

@keyframes background-pan {
  from {
    background-position: 1000% center;
  }

  to {
    background-position: 0% center;
  }
}

.line {
  display: flex;
  justify-content: space-between;
}

.word {
  margin: 0rem;
  transition-duration: 800ms;
}
.word.fancy:hover {
  font-size: 7rem;
}
a {
  text-decoration: none;
}

#text:has(.fancy:hover) .word:not(.fancy:hover),
#text:has(.fancy:active) .word:not(.fancy:active) {
  opacity: 0.2;
}

.fancy span {
  display: inline-block;
}

.fancy > .outer {
  transition: transform 350ms ease;
}

.fancy:hover > .outer {
  transition-duration: 800ms;
}

.fancy:hover > .outer > .inner {
  animation: float 5s ease infinite;
}

.fancy:hover > .outer:nth-child(1),
.fancy:active > .outer:nth-child(1) {
  transform: translate(-80%, 30%) rotate(8deg);
}

.fancy:hover > .outer:nth-child(2),
.fancy:active > .outer:nth-child(2) {
  transform: translate(-10%, 15%) rotate(-6deg);
}

.fancy:hover > .outer:nth-child(3),
.fancy:active > .outer:nth-child(3) {
  transform: translate(0%, 20%) rotate(-3deg);
}

.fancy:hover > .outer:nth-child(4),
.fancy:active > .outer:nth-child(4) {
  transform: translate(10%, -15%) rotate(-6deg);
}

.fancy:hover > .outer:nth-child(5),
.fancy:active > .outer:nth-child(5) {
  transform: translate(80%, -30%) rotate(-10deg);
}
