$palette-100: #d6f5e8;
$palette-200: #a9ead8;
$palette-300: #7cded3;
$palette-400: #50cfd3;
$palette-500: #2fa2bc;
$palette-600: #246b8f;
$palette-700: #183e62;
$palette-800: #0d1c35;
$palette-900: #020308;

$brand-primary: #8072af;
$brand-secondary: #7ebcc6;
