@use "nav";

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Urbanist", sans-serif;
    height: 100vh;
    background: #040406;
    
    color: #cfcfe7;
}

.container {
    width: 100%;
    height: 100%;
    scroll-snap-type: y proximity;
    overflow-y: scroll;
}

.page {
    flex: none;
    scroll-snap-align: start;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    div.welcome {
        h1 {
            font-size: 15rem;
            font-weight: 400;

        }
    }

    &:not(:last-child) {
        box-shadow: 2px 2px #7373d3;
    }
}

h1.big {
    font-size: 32em;
}



::-webkit-scrollbar {
    width: 0;
    height: 0;
}

::-webkit-scrollbar:hover {
    width: 5px;
}