@use "_text.module.scss";
@use "_divine.module.scss";
@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");

$col1: #d6f5e8;
$col2: #a9ead8;
$col3: #7cded3;
$col4: #50cfd3;
$col5: #2fa2bc;
$col6: #246b8f;
$col7: #183e62;
$col8: #0d1c35;
$col9: #020308;

body {
  font-family: "Urbanist", sans-serif;
  font-size: 16px;
  line-height: 1.25;

  padding: 0;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;

  background: url("https://images.unsplash.com/photo-1575908524891-b0bdd2b99f90?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80")
    no-repeat center center fixed;
  background-size: cover;
  backdrop-filter: blur(var(--blur));
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.2;
}

a {
  color: var(--col9);
  text-decoration: none;
}

@media (min-width: 500px) {
  p {
    max-width: 80vw;
  }
}

section {
  margin: 0 !important;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  &.hero {
    display: flex;
    flex-direction: column;
    padding-top: 8rem;
    justify-content: flex-start;
    align-items: center;
    color: var(--col9);

    h1 {
      font-size: 5rem;
      text-align: center;
      margin: 0;
    }
    h3 {
      font-size: 1.5rem;
      text-align: center;
      margin: 0;
    }
  }
}

::-webkit-scrollbar {
  width: 1.25rem;
}

::-webkit-scrollbar-thumb {
  background-color: #2fa2bc;
  border-color: $col1;
  border-width: 6px;
  border-style: solid;
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background-color: $col1;
}
