@import url("https://fonts.googleapis.com/css?family=Montserrat:400");
@import url("https://fonts.googleapis.com/css?family=Fira+Code:400,500,600,700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  padding: 1.5rem;
}

code {
  font-family: "Fira Code", monospace;
  font-size: 1.1rem;

  overflow-x: scroll;
}
pre {
  overflow-x: scroll;
}
pre::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
pre::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
pre::-webkit-scrollbar-thumb {
  background-color: #6e6ed4;
  border-radius: 10px;
}
pre::-webkit-scrollbar-track {
  background-color: #000b1b;
  border-radius: 10px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000b1b;
    color: #f8f8ff;
  }
}
@media (prefers-color-scheme: light) {
  body {
    background-color: #f8f8ff;
    color: #000b1b;
  }
}
