@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 2rem;
	font-family: 'Plus Jakarta Sans', sans-serif;
	background-color: $clr-surface-50;
	color: $clr-surface-900;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: $clr-surface-900;
		color: $clr-surface-50;
	}
}

h1 {
	font-size: 2rem;
	font-weight: 400;
}
