@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 2rem;
	padding-bottom: 0;
	font-family: 'Plus Jakarta Sans', sans-serif;
	background-color: $clr-surface-50;
	color: $clr-surface-900;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: $clr-surface-900;
		color: $clr-surface-50;
	}
}

h1 {
	font-size: 2rem;
	font-weight: 400;
}

h2 {
	font-size: 1.5rem;
	font-weight: 400;
	text-align: center;
}

section {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
