// primary | #6d8ac7
$clr-primary-50: rgba(233, 237, 247); /* ⬅ #e9edf7 */
$clr-primary-100: rgba(226, 232, 244); /* ⬅ #e2e8f4 */
$clr-primary-200: rgba(219, 226, 241); /* ⬅ #dbe2f1 */
$clr-primary-300: rgba(197, 208, 233); /* ⬅ #c5d0e9 */
$clr-primary-400: rgba(153, 173, 216); /* ⬅ #99add8 */
$clr-primary-500: rgba(109, 138, 199); /* ⬅ #6d8ac7 */
$clr-primary-600: rgba(98, 124, 179); /* ⬅ #627cb3 */
$clr-primary-700: rgba(82, 104, 149); /* ⬅ #526895 */
$clr-primary-800: rgba(65, 83, 119); /* ⬅ #415377 */
$clr-primary-900: rgba(53, 68, 98); /* ⬅ #354462 */

// secondary | #c569a5
$clr-secondary-50: rgba(246, 233, 242); /* ⬅ #f6e9f2 */
$clr-secondary-100: rgba(243, 225, 237); /* ⬅ #f3e1ed */
$clr-secondary-200: rgba(241, 218, 233); /* ⬅ #f1dae9 */
$clr-secondary-300: rgba(232, 195, 219); /* ⬅ #e8c3db */
$clr-secondary-400: rgba(214, 150, 192); /* ⬅ #d696c0 */
$clr-secondary-500: rgba(197, 105, 165); /* ⬅ #c569a5 */
$clr-secondary-600: rgba(177, 95, 149); /* ⬅ #b15f95 */
$clr-secondary-700: rgba(148, 79, 124); /* ⬅ #944f7c */
$clr-secondary-800: rgba(118, 63, 99); /* ⬅ #763f63 */
$clr-secondary-900: rgba(97, 51, 81); /* ⬅ #613351 */

// tertiary | #ef9898
$clr-tertiary-50: rgba(253, 240, 240); /* ⬅ #fdf0f0 */
$clr-tertiary-100: rgba(252, 234, 234); /* ⬅ #fceaea */
$clr-tertiary-200: rgba(251, 229, 229); /* ⬅ #fbe5e5 */
$clr-tertiary-300: rgba(249, 214, 214); /* ⬅ #f9d6d6 */
$clr-tertiary-400: rgba(244, 183, 183); /* ⬅ #f4b7b7 */
$clr-tertiary-500: rgba(239, 152, 152); /* ⬅ #ef9898 */
$clr-tertiary-600: rgba(215, 137, 137); /* ⬅ #d78989 */
$clr-tertiary-700: rgba(179, 114, 114); /* ⬅ #b37272 */
$clr-tertiary-800: rgba(143, 91, 91); /* ⬅ #8f5b5b */
$clr-tertiary-900: rgba(117, 74, 74); /* ⬅ #754a4a */

// success | #42DC51
$clr-success-50: rgba(227, 250, 229); /* ⬅ #e3fae5 */
$clr-success-100: rgba(217, 248, 220); /* ⬅ #d9f8dc */
$clr-success-200: rgba(208, 246, 212); /* ⬅ #d0f6d4 */
$clr-success-300: rgba(179, 241, 185); /* ⬅ #b3f1b9 */
$clr-success-400: rgba(123, 231, 133); /* ⬅ #7be785 */
$clr-success-500: rgba(66, 220, 81); /* ⬅ #42DC51 */
$clr-success-600: rgba(59, 198, 73); /* ⬅ #3bc649 */
$clr-success-700: rgba(50, 165, 61); /* ⬅ #32a53d */
$clr-success-800: rgba(40, 132, 49); /* ⬅ #288431 */
$clr-success-900: rgba(32, 108, 40); /* ⬅ #206c28 */

// warning | #e1c93e
$clr-warning-50: rgba(251, 247, 226); /* ⬅ #fbf7e2 */
$clr-warning-100: rgba(249, 244, 216); /* ⬅ #f9f4d8 */
$clr-warning-200: rgba(248, 242, 207); /* ⬅ #f8f2cf */
$clr-warning-300: rgba(243, 233, 178); /* ⬅ #f3e9b2 */
$clr-warning-400: rgba(234, 217, 120); /* ⬅ #ead978 */
$clr-warning-500: rgba(225, 201, 62); /* ⬅ #e1c93e */
$clr-warning-600: rgba(203, 181, 56); /* ⬅ #cbb538 */
$clr-warning-700: rgba(169, 151, 47); /* ⬅ #a9972f */
$clr-warning-800: rgba(135, 121, 37); /* ⬅ #877925 */
$clr-warning-900: rgba(110, 98, 30); /* ⬅ #6e621e */

// error | #E80D41
$clr-error-50: rgba(252, 219, 227); /* ⬅ #fcdbe3 */
$clr-error-100: rgba(250, 207, 217); /* ⬅ #facfd9 */
$clr-error-200: rgba(249, 195, 208); /* ⬅ #f9c3d0 */
$clr-error-300: rgba(246, 158, 179); /* ⬅ #f69eb3 */
$clr-error-400: rgba(239, 86, 122); /* ⬅ #ef567a */
$clr-error-500: rgba(232, 13, 65); /* ⬅ #E80D41 */
$clr-error-600: rgba(209, 12, 59); /* ⬅ #d10c3b */
$clr-error-700: rgba(174, 10, 49); /* ⬅ #ae0a31 */
$clr-error-800: rgba(139, 8, 39); /* ⬅ #8b0827 */
$clr-error-900: rgba(114, 6, 32); /* ⬅ #720620 */

// surface | #10101a
$clr-surface-50: rgba(219, 219, 221); /* ⬅ #dbdbdd */
$clr-surface-100: rgba(207, 207, 209); /* ⬅ #cfcfd1 */
$clr-surface-200: rgba(195, 195, 198); /* ⬅ #c3c3c6 */
$clr-surface-300: rgba(159, 159, 163); /* ⬅ #9f9fa3 */
$clr-surface-400: rgba(88, 88, 95); /* ⬅ #58585f */
$clr-surface-500: rgba(16, 16, 26); /* ⬅ #10101a */
$clr-surface-600: rgba(14, 14, 23); /* ⬅ #0e0e17 */
$clr-surface-700: rgba(12, 12, 20); /* ⬅ #0c0c14 */
$clr-surface-800: rgba(10, 10, 16); /* ⬅ #0a0a10 */
$clr-surface-900: rgba(8, 8, 13); /* ⬅ #08080d */
